﻿.ImageCard {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.ImageCard-body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    border: 1px solid #CFCFCF;
    height: 200px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
}

.ImageCard-body.is-cover {
    background-size: cover !important;
}

.ImageCard-overlay {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    background: linear-gradient(to top, rgba(36, 36, 36, 0.7) 0%, rgba(36, 36, 36, 0) 66%, rgba(36, 36, 36, 0) 100%);
    width: 100%;
    height: 100%;
}

.ImageCard-overlay .ImageCard-text {
    color: #FFFFFF;
}

.ImageCard-text {
    padding: 20px 10px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
}

.EntityCard {
    padding: 10px;
    width: 100%;
}

.EntityCard.is-autoheight .EntityCard-body {
    height: auto !important;
}

.EntityCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    min-height: 112px;
    border: 1px solid #CFCFCF;
    background: #FFFFFF;
}

.EntityCard-container {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    padding: 8px;
}

.EntityCard-title {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    color: #3C86B6;
    font-size: 1.15em;
    text-overflow: ellipsis;
    word-break: break-word;
}

.EntityCard-icon {
    font-size: 1.4em;
}

.EntityCard-text {
    color: #555555;
    font-size: 0.85em;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.EntityCard-complement {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: initial initial initial;
    -webkit-flex: initial initial initial;
    flex: initial initial initial;
    align-items: center;
}

.MyProfileCard {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 10px;
}

.MyProfileCard-container {
    margin-left: 10px;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    font-size: 0.85em;
}

.MyProfileCard-text {
    color: #FFFFFF;
}

.MyProfileCard-subtext {
    font-style: italic;
}

.MyProfileImage {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    -ms-flex-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    z-index: 1;
}

.MyProfileImage-container {
    margin: -120px 0;
    padding: 4px;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 60px;
    background-size: cover !important;
    line-height: 120px;
    text-align: center;
    background: #FAFAFA;
}

.UserCard {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.UserCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    height: 100%;
    border: 1px solid #CFCFCF;
    padding: 15px;
    background: #FFFFFF;
}

.UserCard-body.is-spotlight {
    background: #EDF2F7;
    padding: 10px !important;
}

.UserCard-body.is-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.UserCard-container {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 15px;
}

.UserCard-content {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
}

.UserCard-title {
    color: #3C86B6;
    font-size: 1.15em;
    text-overflow: ellipsis;
    word-break: break-word;
}

.UserCard-text {
    color: #555555;
    font-style: italic;
    font-size: 0.85em;
}

.UserCard-complement {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    align-items: center;
    margin-left: auto;
}

.UserCardColumn {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.UserCardColumn-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    text-align: center;
    height: 100%;
    border: 1px solid #CFCFCF;
    padding: 15px;
    background: #FFF;
}

.UserCardColumn-container {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-top: 15px;
}

.UserCardColumn-content {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

.UserCardColumn-title {
    color: #3C86B6;
    font-size: 1.15em;
    text-overflow: ellipsis;
    word-break: break-word;
}

.UserCardColumn-text {
    color: #555555;
    font-style: italic;
    font-size: 0.85em;
}

.UserCardColumn-complement {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: auto;
}

.HeaderUserCard {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.HeaderUserCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    height: 100%;
    border: 1px solid #CFCFCF;
    padding: 15px;
    background: #FFF;
}

.HeaderUserCard-container {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    margin-left: 15px;
}

.HeaderUserCard-content {
    -ms-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
}

.HeaderUserCard-action {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    margin-left: auto;
}

.HeaderUserCard-title {
    margin: 0;
}

.HeaderUserCard-text {
    color: #555555;
    font-style: italic;
    font-size: 0.85em;
}

.HeaderUserCard-complement {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    align-items: flex-start;
}

.HeaderUserCard-secondarytext {
    text-align: right;
    font-size: 0.85em;
    width: 100%;
}

.UserCardProgress {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.UserCardProgress-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    height: 100%;
    border: 1px solid #CFCFCF;
    padding: 15px;
    background: #FFF;
}

.UserCardProgress-container {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 15px;
}

.UserCardProgress-content {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

.UserCardProgress-title {
    color: #3C86B6;
    font-size: 1.15em;
    text-overflow: ellipsis;
    word-break: break-word;
}

.UserCardProgress-text {
    color: #555555;
    font-style: italic;
    font-size: 0.85em;
}

.UserCardProgress-complement {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    align-items: center;
    max-width: 80%;
}

.PictoCard {
    width: 100%;
}

.PictoCard.is-medium {
    font-size: 1.3em;
    min-height: 1.8em;
    margin: 10px 0;
}

.PictoCard.is-medium .PictoCard-legend {
    margin-top: auto !important;
}

.PictoCard.is-large {
    font-size: 2em;
    color: #394C5B;
    min-height: 2.8em;
}

.PictoCard.is-large .PictoCard-legend {
    margin-top: auto !important;
    font-size: 0.60em;
}

.PictoCard.is-large .PictoCard-value {
    padding: 0 10px;
}

.PictoCard.is-success .PictoCard-body {
    color: #1FB15E !important;
}

.PictoCard.is-failure .PictoCard-body {
    color: #CB1D36 !important;
}

.PictoCard.is-warning .PictoCard-body {
    color: #F47B2A !important;
}

.PictoCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    color: #555555;
}

.PictoCard-body.is-selected {
    color: #3C86B6;
}

.PictoCard-header {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.PictoCard-icon {
    font-size: 1.7em;
    line-height: 1.2;
}

.PictoCard-value {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
}

.PictoCard-legend {
    font-size: 0.68em;
    text-align: center;
    margin-top: -0.6em;
}

.InputIconCard {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.InputIconCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    position: relative;
}

.InputIconCard-icon {
    position: absolute;
    top: 8px;
    font-size: 1.7em;
    padding-left: 20px;
}

.InputIconCard-input {
    padding: 10px 10px 10px 45px;
    border-radius: 3px !important;
    width: 100%;
}

.InputIconCard-button {
    min-width: 150px !important;
}

.InputCard {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.InputCard-select {
    padding: 9px 5px !important;
    border-radius: 3px !important;
    margin: 0;
    width: 100%;
    height: auto;
}

.UserStripCard {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.UserStripCard-list {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.UserStripCard-text {
    font-size: 0.85em;
}

.UserStripCard-list .UserStripCard-user .UserStripCard-image.UserImage {
    border: solid 1px;
    margin-left: -10px;
}

.UserStripCard-list .UserStripCard-user:nth-child(1) .UserStripCard-image.UserImage {
    margin-left: 0px;
}

.UserStripCard-count {
    margin-top: -15px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10px;
    background-size: cover !important;
    line-height: 20px;
    text-align: center;
    background-color: #CB1D36;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    font-size: 0.65em;
}

.HeaderSessionCard-container {
    padding: 10px;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: initial;
    -webkit-flex-direction: initial;
    flex-direction: initial;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.HeaderSessionCard-info {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
}

.HeaderSessionCard-icon {
    font-size: 1.4em;
    color: #555555;
}

.MeetingCard-progress {
    width: 220px;
}

.ListItemCard {
    padding: 0 10px;
    margin-top: -1px;
    page-break-inside: avoid;
}

.ListItemCard.is-highlight {
    font-weight: bold;
}

.ListItemCard.is-subitem {
    margin: 0;
}

.ListItemCard.is-action:hover {
    cursor: pointer;
}

.ListItemCard.is-action:hover .ListItemCard-title {
    text-decoration: underline;
}

.ListItemCard.is-subitem .ListItemCard-body {
    background-color: #FAFAFA;
    border: 0;
    font-size: 0.9em;
}

.ListItemCard.is-disabled .ListItemCard-body {
    background-color: #FAFAFA;
}

.ListItemCard.is-disabled .ListItemCard-body .ListItemCard-title, .ListItemCard.is-disabled .ListItemCard-body .ListItemCard-text {
    color: #CFCFCF;
}

.ListItemCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #CFCFCF;
    background-color: #FFFFFF;
    padding: 10px;
}

.ListItemCard-icon {
    width: 40px;
    text-align: center;
    font-size: 2em;
    color: #555555;
}

.ListItemCard-icon.is-small {
    font-size: 1.5em;
}

.is-subitem .ListItemCard-icon {
    font-size: 1.5em;
    opacity: 0.7;
}

.ListItemCard-container {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: initial;
    -webkit-flex-direction: initial;
    flex-direction: initial;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.ListItemCard-content {
    padding-left: 15px;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.ListItemCard-title {
    color: #3C86B6;
}

.ListItemCard-text {
    color: #242424;
    font-size: 0.85em;
}

.ListItemCard-complement {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.ListItemCard-progress {
    width: 220px;
}

.DropDownArrow {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ListItemCard-separator {
    padding-top: 15px;
}

.OrderListItemCard {
    border-top: 1px solid #CFCFCF;
    padding: 5px;
    margin-top: -1px;
}

.OrderListItemCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.OrderListItemCard-orderButtons {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 40px;
    text-align: center;
    color: #555555;
}

.OrderListItemCard-content {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin: 0 5px;
}

.OrderListItemCard-title {
    -ms-flex: 1 1 50%;
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    color: #3C86B6;
}

.OrderListItemCard-text {
    -ms-flex: 1 1 50%;
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    font-size: 0.8em;
    color: #555555;
}

.OrderListItemCard-actionButtons {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 80px;
    color: #555555;
}

.MenuCard {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.MenuCard.is-grouping {
    padding: 0;
    height: auto;
}

.MenuCard.is-grouping .MenuCard-body {
    padding: 0;
    height: auto;
    margin-top: -1px;
    margin-bottom: -1px;
    border-right: 0;
    border-left: 0;
}

.MenuCard-body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    border: 1px solid #CFCFCF;
    background-color: #FFFFFF;
}

.MenuCard-container {
    padding: 10px;
    -ms-flex: 1 0 0%;
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%;
}

.MenuCard-icon {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.5em;
    padding-right: 10px;
    color: #555555;
}

.MenuCard-subText {
    margin: 10px;
}

.LinkCard {
    padding: 10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.LinkCard.is-icon .LinkCard-body {
    min-height: 70px;
}

.LinkCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    align-items: center;
    border: 1px solid #CFCFCF;
    background: #FFF;
    color: #394C5B;
    font-size: 1.15em;
    min-height: 110px;
}

.LinkCard-icon {
    font-size: 2.2em;
    padding: 0 0.5em;
}

.LinkCard-image {
    width: 90px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0.9em;
}

.LinkCard-text {
    font-size: 1.15em;
}

.ResourceCard {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.ResourceCard.is-disabled {
    cursor: default;
}

.ResourceCard.is-disabled .ResourceCard-body {
    background-color: #FAFAFA;
}

.ResourceCard.is-disabled .ResourceCard-body .ResourceCard-title, .ResourceCard.is-disabled .ResourceCard-body .ResourceCard-text {
    color: #CFCFCF;
}

.ResourceCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    text-align: center;
    border: 1px solid #CFCFCF;
    background: #FFF;
    min-height: 290px;
}

.ResourceCard-image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
}

.ResourceCard-origin {
    position: absolute;
    bottom: -25px;
    right: 10px;
}

.ResourceCard-origin.push-primary {
    right: 45px;
}

.ResourceCard-originImage {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
    background-size: cover !important;
    line-height: 50px;
    text-align: center;
    font-size: 0.85em;
    border: solid 1px #CFCFCF;
    background-color: #3C86B6;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.85em;
    text-align: center;
    line-height: 50px;
}

.ResourceCard-iconContainer {
    position: absolute;
    bottom: -25px;
    right: 10px;
}

.ResourceCard-icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
    background-size: cover !important;
    line-height: 50px;
    text-align: center;
    font-size: 1.40em;
    color: #FFFFFF;
    border: solid 1px #CFCFCF;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.ResourceCard-icon.is-success {
    background-color: #1FB15E;
}

.ResourceCard-icon.is-failed {
    background-color: #CB1D36;
}

.ResourceCard-container {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 15px;
}

.ResourceCard-content {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

.ResourceCard-title {
    margin-top: 10px;
    color: #3C86B6;
    font-size: 1.15em;
    text-overflow: ellipsis;
    height: 3.2em;
    overflow: hidden;
}

.ResourceCard-text {
    color: #555555;
    font-style: italic;
    font-size: 0.85em;
    text-align: left;
    padding: 10px;
}

.ResourceCard-complement {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.ResourceCard-actions {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}

.ResourceCard-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.l-panel .EntityCard-body,
.l-panel .UserCard-body,
.l-panel .UserCardColumn-body,
.l-panel .UserCardProgress-body,
.l-panel .WebPartGeneric-body,
.l-panelTab .EntityCard-body,
.l-panelTab .UserCard-body,
.l-panelTab .UserCardColumn-body,
.l-panelTab .UserCardProgress-body,
.l-panelTab .WebPartGeneric-body {
    border: 0;
    padding: 0;
}

.l-panel .ListItemCard,
.l-panelTab .ListItemCard {
    padding: 0;
}

.l-panel .ListItemCard .ListItemCard-body,
.l-panelTab .ListItemCard .ListItemCard-body {
    border-left: 0;
    border-right: 0;
}

.Citation {
    border-left: 5px solid #CFCFCF;
    padding-left: 10px;
}

.ImageMatrixCard {
    height: 100%;
    width: 100%;
}

.ImageMatrixCard-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    height: 100%;
}

.ImageMatrixCard-content {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
}

.Banner {
    bottom: 22px;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    opacity: 0.85;
    margin-bottom: -22px;
}

.Banner.is-warning {
    color: #FFFFFF;
    background-color: #F47B2A;
}

.ProgressBar {
    padding: 6px 0;
    max-width: 950px;
}

.ProgressBar.is-full {
    width: 100%;
    margin: auto;
}

.ProgressBar.is-medium {
    min-width: 100px;
    max-width: 450px;
    width: 100%;
}

.ProgressBar.is-small {
    min-width: 100px;
    max-width: 200px;
    width: 100%;
}

.ProgressBar-outerPanel {
    height: 16px;
    border-radius: 8px;
    background: #CFCFCF;
    margin: 0 10px;
}

.ProgressBar-percent {
    margin-top: -16px;
    text-align: center;
    font-size: 0.85em;
    color: #FFFFFF;
}

.ProgressBar-innerPanel {
    height: 100%;
    border-radius: 8px;
    background: #3C86B6;
    width: 0%;
}

.ProgressBar-innerPanel.is-success {
    background: #1FB15E;
}

.ProgressBar-innerPanel.is-failure {
    background: #CB1D36;
}

.ProgressCircle {
    min-height: 40px;
    position: relative;
}

.ProgressCircle.is-small {
    min-height: 30px;
}

.ProgressCircle.is-small .ProgressCircle-data {
    top: 8px;
    display: none;
}

.ProgressCircle.is-small .ProgressCircle-data.is-success {
    display: block;
}

.ProgressCircle.is-small .ProgressCircle-data.is-failure {
    display: block;
}

.ProgressCircle-data {
    color: #3C86B6;
    text-align: center;
    font-size: 0.80em;
    position: absolute;
    top: 12px;
    width: 100%;
}

.ProgressCircle-data.is-success {
    color: #1FB15E;
}

.ProgressCircle-data.is-failure {
    color: #CB1D36;
}

.ProgressCircle-data .syficon {
    font-size: 1.5em;
}

.ProgressCircle-canvas {
    height: 100%;
    width: 100%;
}

.ProgressCircle-legend {
    font-size: 1.25em;
    color: #555555;
}

.ProgressGauge {
    padding: 6px 0;
    max-width: 950px;
    margin: auto;
}

.ProgressGauge-outerPanel {
    height: 70px;
    border-radius: 6px;
    background: #CFCFCF;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.ProgressGauge-innerPanel {
    border-radius: 6px;
    background: #3C86B6;
    float: left;
}

.ProgressGauge-remain {
    background: transparent;
    color: #555555;
    float: none;
    width: 100%;
}

.ProgressGauge-percent {
    line-height: 70px;
    font-size: 1.5em;
    color: #FFFFFF;
    white-space: nowrap;
}

.ProgressGauge-thresholdBar {
    height: 100%;
    border-left: 2px dashed #F47B2A;
    position: absolute;
    top: 0;
}

/*Gauge Labels (below gauge)*/
.ProgressGauge-labels {
    margin: 0 10px;
    position: relative;
}

.ProgressGauge-thresholdLabel, .ProgressGauge-totalLabel {
    position: absolute;
    top: 0;
    width: 150px;
    margin-left: -75px;
    bottom: 5px;
}

.ProgressGauge-thresholdLabel {
    color: #F47B2A;
}

.ProgressGauge-totalLabel {
    margin-left: -150px;
    text-align: right;
    right: 0;
}

.TraineePresence {
    font-size: 2em;
    width: 32px;
    text-align: center;
}

.TraineePresence.is-unknown {
    color: #CFCFCF;
}

.TraineePresence.is-present {
    color: #1FB15E;
}

.TraineePresence.is-unknownpresent {
    color: #555555;
}

.TraineePresence.is-absent {
    color: #CB1D36;
}

.TraineePresence.is-unknownabsent {
    color: #555555;
}

.TraineePresence.is-presentabsent {
    color: #F47B2A;
}

.TraineePresence.is-unknownpresentabsent {
    color: #555555;
}

.UserImage {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    border-radius: 45px;
    background-size: cover !important;
    line-height: 90px;
    text-align: center;
    font-size: 1.85em;
    margin: auto;
    background-color: #3C86B6;
    background-position: center !important;
    background-repeat: no-repeat !important;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 0;
    flex-shrink: 0;
}

.UserImage.is-size40 {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 20px;
    background-size: cover !important;
    line-height: 40px;
    text-align: center;
    font-size: 1.1em;
}

.UserImage.is-size50 {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
    background-size: cover !important;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
}

.UserImage.is-size110 {
    width: 110px;
    height: 110px;
    min-width: 110px;
    min-height: 110px;
    border-radius: 55px;
    background-size: cover !important;
    line-height: 110px;
    text-align: center;
    font-size: 2.80em;
}

.EntityImage {
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.EntityImage.is-size50 {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.EntityImage.is-size110 {
    width: 110px;
    height: 110px;
    line-height: 110px;
}

.EntityImage.is-cover {
    width: 200px;
    height: 48px;
}

.TabSelector {
    position: relative;
    margin: 10px 60px 0 10px;
    z-index: 5;
}

.TabSelector-list {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.TabSelector-list.is-visible {
    position: absolute;
    overflow: inherit;
}

.TabSelector-text {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    white-space: nowrap;
}

.TabSelector-item {
    float: left;
    height: 35px;
}

.TabSelector-item.is-selected .TabSelector-text {
    display: block;
    border-bottom: 5px solid #3C86B6;
    white-space: nowrap;
}

.TabSelector-item.is-unselected .TabSelector-link {
    color: #242424;
}

.TabSelector-item.is-unselected .TabSelector-link:hover {
    color: #3C86B6;
}

.TabSelector-item.is-overflow {
    display: none;
}

.TabSelector-item.is-overflow .TabSelector-text {
    margin: 0;
    padding-left: 10px;
}

.TabSelector-item.is-visible {
    display: inline-block;
    clear: right;
    float: right;
    min-width: 250px;
    height: 51px;
    background: #FFFFFF;
    border-top: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    margin: -5px -55px -5px -5px;
    padding-top: 5px;
}

.TabSelector-item.is-visible:last-of-type {
    border-bottom: 1px solid #CFCFCF;
    height: 42px;
}

.TabSelector-link {
    display: inline-block;
    text-decoration: none !important;
    width: 100%;
}

.TabSelector-responsive {
    position: absolute;
    display: none;
    top: 0;
    right: -50px;
    font-size: 1.5em;
    color: #555555;
    cursor: pointer;
}

.TabSelector-icon {
    padding: 0 10px;
}

.CustomButton {
    position: relative;
    display: inline-block;
    color: #555555;
}

.CustomButton.is-iconOnly {
    min-width: 0;
}

.CustomButton-input {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 40px 10px 10px;
    text-transform: uppercase;
    background: none;
    border: 0;
    cursor: pointer;
    color: #555555;
}

.CustomButton-input:hover {
    color: #3C86B6;
}

.CustomButton-icon {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 1.7em;
    color: #555555;
}

.CustomButton:hover .CustomButton-icon {
    color: #3C86B6;
}

.CustomButton.is-selected .CustomButton-icon {
    color: #3C86B6;
}

.CustomButton.is-iconOnly .CustomButton-input {
    padding: 0 40px 10px 10px;
    text-indent: -9999px;
    white-space: nowrap;
}

.CustomButton.is-iconOnly .CustomButton-icon {
    top: 0;
    cursor: pointer;
}

.CustomButton.is-important {
    color: #FFFFFF;
    background: #3C86B6;
    min-width: 180px;
    margin: 1px;
}

.CustomButton.is-important .CustomButton-input {
    color: #FFFFFF;
    padding: 10px;
    text-transform: none;
}

.CustomButton.is-important .CustomButton-icon {
    display: none;
}

.CustomButton.is-important:hover {
    background: #256F9D;
    color: #FFFFFF;
}

.CustomButton.is-disabled {
    background: inherit;
}

.CustomButton.is-disabled .CustomButton-input {
    color: #CFCFCF;
    cursor: default;
}

.CustomButton.is-disabled .CustomButton-input:hover {
    background: inherit;
}

.CustomButton.is-disabled .CustomButton-icon {
    color: #CFCFCF;
    cursor: default;
}

.CustomButton.is-disabled:hover {
    background: inherit;
}

.CustomButton.is-disabled:hover .CustomButton-icon {
    color: #CFCFCF;
}

.ToolBox .CustomButton {
    position: relative;
    display: inline-block;
    margin: 10px 0 10px 10px;
    color: #3C86B6;
    min-width: 0;
}

.ToolBox .CustomButton.is-overflow {
    display: none;
}

.ToolBox .CustomButton.is-visible {
    background: #FFFFFF;
    display: inline-block;
    width: 250px;
    float: right;
    clear: right;
    margin: -1px 0 0;
    top: -10px;
    right: -50px;
}

.ToolBox .CustomButton:hover {
    color: #FFFFFF !important;
}

.ToolBox .CustomButton-input {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px !important;
    text-transform: none;
    background: none;
    border: 1px solid #3C86B6;
    cursor: pointer;
    border-radius: 0;
    color: #3C86B6;
}

.ToolBox .CustomButton-input:hover {
    color: #FFFFFF;
    border: 1px solid #256F9D;
    background: #256F9D;
    text-decoration: none;
}

.ToolBox .CustomButton-icon {
    display: none;
    padding-top: 7px;
    color: #3C86B6;
}

.ToolBox .CustomButton.is-disabled .CustomButton-input {
    color: #CFCFCF;
    border-color: #CFCFCF;
    cursor: default;
}

.ToolBox .CustomButton.is-disabled .CustomButton-input:hover {
    background: inherit;
}

.ToolBox .CustomButton.is-iconOnly .CustomButton-icon {
    display: block;
    width: 32px;
}

.ToolBox .CustomButton.is-iconOnly .CustomButton-input {
    width: 40px;
    padding: 0 !important;
    height: 39px;
}

.ToolBox .CustomButton.is-iconOnly .CustomButton-input:hover {
    background: none;
    border-color: #CFCFCF;
}

.ToolBox .CustomButton.is-iconOnly.is-overflow.is-visible {
    width: 40px;
}

.AutoCompleteButton {
    position: relative;
}

.AutoCompleteButton:hover .CustomButton-icon {
    color: #3C86B6;
}

.AutoCompleteButton .CustomButton-icon {
    position: absolute;
    right: -10px;
    top: 0;
    font-size: 1.7em;
    padding-top: 0;
    color: #555555;
    cursor: pointer;
}

.AutoCompleteButton .CustomButton-input {
    height: 26px;
    width: 37px;
    padding: 0;
    text-indent: -9999px;
    white-space: nowrap;
}

.ToolBox {
    position: relative;
    z-index: initial;
}

.ToolBox.is-fixed .ToolBox-content {
    position: fixed;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.ToolBox.is-alwaysVisible .ToolBox-content {
    z-index: 4;
}

.ToolBox-content {
    position: relative;
    height: 61px;
    max-height: 61px;
    width: 100%;
    z-index: 3;
}

.ToolBox-list {
    position: absolute;
    padding-right: 60px;
    width: 100%;
    pointer-events: none;
}

.ToolBox-list > * {
    pointer-events: all;
}

.ToolBox-responsive {
    position: absolute;
    display: none;
    width: 40px;
    top: 0;
    right: 0;
    font-size: 1.8em;
    color: #555555;
    margin: 10px;
    padding: 0 5px 2px;
    border: 1px solid #3C86B6;
    color: #3C86B6;
    cursor: pointer;
}

.DetailsView-tbody {
    display: inline-block !important;
    display: flex !important;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    -ms-flex: 1 0 0%;
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%;
}

.DetailsView-row {
    display: block;
    padding: 0 20px 10px;
}

.DetailsView-row .FieldHeader,
.DetailsView-row .FieldData {
    display: block;
}

.DetailsView-requiredFields {
    margin: 10px 20px;
    color: #CB1D36;
    font-size: 0.85em;
}

.DetailsView-row .DetailsView-row {
    padding-left: 0;
}

.DetailsView-row .DetailsView-requiredFields {
    margin-left: 0;
}

.DetailsView-tbody tbody {
    display: table-row-group;
}

.TreeNodeTable .DetailsView-row .FieldData {
    display: block !important;
}

.AccordionViewList > .ListItemCard:not(.is-subitem) {
    margin-top: -1px;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    cursor: pointer;
    align-items: center;
}

.AccordionViewList > .ListItemCard:not(.is-subitem) > * {
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
}

.AccordionViewList > .ListItemCard:not(.is-subitem) > *:last-child {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.AccordionViewItem-icon {
    float: right;
    margin-top: -30px;
    font-size: 1.2em;
    margin-right: 10px;
}

.AccordionViewItem-header {
    min-height: 42px;
    cursor: pointer;
}

.AccordionViewItem-headerText {
    padding-right: 30px;
    height: 100%;
}

.Score {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.Score.is-success {
    color: #1FB15E;
}

.Score.is-failed {
    color: #CB1D36;
}

.Score-value, .Score-icon {
    font-size: 2em;
    font-weight: normal;
}

.Score-complement {
    font-size: 1em;
    vertical-align: super;
}

.GridView {
    padding: 10px;
    width: 100%;
    font-size: 0.85em;
}

.GridView-header th,
.GridView-header {
    padding: 5px 0;
    background: #F0F0F0;
    font-weight: bold !important;
}

.GridView-header th a,
.GridView-header a {
    color: #555555;
}

.GridView .FieldButton {
    display: none;
}

.GridView td {
    padding: 10px 5px;
    background: #FFFFFF;
}

.GridView-pager td:first-of-type {
    padding: 0;
}

.GridView-row.is-alternating td {
    background: #F8F8F8;
}

.GridView-row.is-selected td {
    background: #EDF2F7;
}

.GridView-header .FieldHeader,
.GridView-row .FieldData {
    display: table-cell !important;
}

.GridView-header .FieldHeader .is-extended,
.GridView-row .FieldData .is-extended {
    font-weight: bold;
}

.GridView-header .FieldHeader.is-hidden,
.GridView-row .FieldData.is-hidden,
.RowSel .FieldData.is-hidden {
    visibility: hidden;
}

.LabelledValue {
    display: inline-block;
    margin: 20px;
}

.GridView input[type="image"] {
    border: 0;
    width: auto;
    padding: 0;
}

.GridView-groupHeader td {
    font-weight: bold;
}

.GridView-icon {
    font-size: 1.5em;
}

.GridTableView-pager .rgCurrentPage {
    background-color: #3C86B6;
    color: #FFFFFF;
}

.Field-label {
    display: inline-block;
    font-size: 0.85em;
    margin-bottom: 3px;
    color: #888888;
    font-size: 0.9em;
}

.FieldSeparator h3 {
    margin-left: 0;
}

.TextField {
    width: 100%;
    border: 1px solid #CFCFCF;
    font-family: "Open Sans", Verdana, Arial;
    font-size: 0.85em;
    padding: 5px;
    background: #FFF;
    min-height: 28px;
}

.TextField.is-html {
    min-height: 100px;
    max-height: 500px;
    overflow: auto;
}

.TextEditorField {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
}

.DetailsView .RadComboBox.DurationField {
    width: auto !important;
    padding-top: 3px;
    margin-left: -1px;
    max-width: 150px;
}

.DetailsView .RadComboBox.DurationField input {
    height: 26px;
}

.DetailsView input.DurationField {
    width: 100px !important;
}

.EditorHtml {
    width: 100%;
}

.EditorHtml textarea {
    height: 130px;
}

.EditorHtml-textarea {
    width: 100%;
}

.EditorButton {
    vertical-align: top;
}

.RowSelectorField {
    text-align: center;
    width: 30px;
}

.RowSelectorField input {
    padding: 0;
    width: auto;
}

.ImageField-action {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.LabelHelp {
    font-size: 0.9em;
}

.LabelHelp-icon {
    font-size: 1.2em;
}

.ColumnField {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
}

.MultilangBox-item {
    overflow: hidden;
    cursor: pointer;
}

.MultilangBox-item.is-invalid .TabSelector-text {
    border-bottom: 5px solid #CB1D36;
}

.MultilangBox-list {
    overflow: hidden;
}

.MultilangBox-listInput {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
}

.MultilangBox-language {
    width: 100%;
}

.SliderPanel {
    float: right;
}

.TristateField.is-yes {
    color: #1FB15E;
}

.TristateField.is-no {
    color: #CB1D36;
}

.TristateField-icon {
    margin-right: 5px;
}

.EnumerationField-icon {
    color: #555555;
    font-size: 1.7em;
}

.TreeEditor {
    width: 100%;
}

.TreeEditor-selectableCell {
    font-size: 1.5em;
    padding: 10px;
    cursor: move;
}

.AutoCompleteWithButton {
    width: 100% !important;
}

.AutoCompleteWithButton .rcbArrowCellRight {
    background: #FFFFFF !important;
}

.AutoCompleteWithButton .rcbInputCellLeft {
    width: 99% !important;
}

.LevelChooser {
    width: 150px;
    height: 18px;
}

.LevelChooser .LevelChooserPanel {
    position: relative;
}

.LevelChooser .ProgressLevelBack .IndexLabel {
    position: absolute;
    width: 120px;
    color: #555555;
    font-weight: bold;
    text-align: center;
    height: 17px;
}

.LevelChooser .ProgressLevelBack {
    background-color: White;
    border: solid 1px #3C86B6;
    width: 120px;
    height: 18px;
    position: absolute;
    left: 13px;
}

/*******************************************
* Level Chooser
********************************************/
.LevelChooser .NormalIncrementButton {
    background: url(/App_Themes/Default/WebControls/Sprites/TreeEditor.png) no-repeat -18px -18px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.LevelChooser .NormalDecrementButton {
    background: url(/App_Themes/Default/WebControls/Sprites/TreeEditor.png) no-repeat 0px -18px;
    cursor: pointer;
    height: 18px;
    width: 18px;
    position: absolute;
    left: -1px;
    top: 0;
}

.LevelChooser .ProgressLevelBack .ProgressLevelPanel {
    background-color: #3C86B6;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 17px;
}

.MessageBox {
    position: fixed;
    right: -1px;
    top: 70px;
    background: #FFF;
    z-index: 6;
    border: 1px solid #CFCFCF;
    width: 300px;
    overflow-y: auto;
    height: auto;
    max-height: calc(100% - 70px);
}

.MessageBox .is-info,
.MessageBox .is-pdf,
.MessageBox .is-xls {
    color: #3C86B6;
    border-left-color: #3C86B6;
}

.MessageBox .is-info .MessageBox-title,
.MessageBox .is-pdf .MessageBox-title,
.MessageBox .is-xls .MessageBox-title {
    color: #242424;
}

.MessageBox .is-success {
    color: #1FB15E;
    border-left-color: #1FB15E;
}

.MessageBox .is-success .ProgressBar {
    display: none;
}

.MessageBox .is-failure {
    color: #CB1D36;
    border-left-color: #CB1D36;
}

.MessageBox .is-failure .ProgressBar {
    display: none;
}

.MessageBox .is-warning {
    color: #F47B2A;
    border-left-color: #F47B2A;
}

.MessageBox .is-warning .ProgressBar {
    display: none;
}

.MessageBox .is-closed ul {
    display: none;
}

.MessageBox-item {
    line-height: 1.8em;
    padding: 10px 35px;
    border-left: 5px solid;
    position: relative;
}

.MessageBox-item.is-subItem {
    border-left: 0;
    font-size: 0.85em;
}

.MessageBox-icon {
    position: absolute;
    left: 5px;
    font-size: 1.8em;
    display: inline-block;
}

.MessageBox-closeButton {
    color: #242424;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.MessageBox-loading {
    position: absolute;
    right: 10px;
    height: 16px;
    width: 16px;
}

.MessageBox-details {
    position: relative;
}

.MessageBox-details .MessageBox-icon {
    left: 0;
    top: 0;
}

.MessageBox-details ul {
    padding-left: 0;
}

.MessageBox-details ul li {
    position: relative;
    list-style: none;
    padding: 0 0 0 30px;
}

.MessageBox .ProgressBar-outerPanel {
    height: 10px;
}

.WebPartsButton {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 70px;
}

.WebPart.l-noPanel {
    padding: 10px;
}

.WebPart.is-contentonly .rdTop,
.WebPart.is-contentandframe .rdTop {
    display: none;
}

.l-master .EditMode {
    margin-bottom: 160px;
}

.l-master .BrowseMode .rdTitleBar {
    cursor: default !important;
}

.webpart-setting {
    background: #FFFFFF;
    bottom: 0;
    left: 0;
    height: 140px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    padding: 10px;
    box-shadow: 0 0 10px #999999;
    z-index: 3;
}

.webpart-setting .RadDockZone {
    border: 0 !important;
}

.webpart-setting-container {
    width: 990px;
    margin: auto;
}

.webpart-setting-container .RadDock .rdTable .rdTop .rdLeft,
.webpart-setting-container .RadDock .rdTable .rdTop .rdRight,
.webpart-setting-container .RadDock .rdTable .rdMiddle .rdLeft,
.webpart-setting-container .RadDock .rdTable .rdMiddle .rdRight,
.webpart-setting-container .RadDock .rdTable .rdBottom .rdLeft,
.webpart-setting-container .RadDock .rdTable .rdBottom .rdCenter,
.webpart-setting-container .RadDock .rdTable .rdBottom .rdRight {
    width: 0px;
    height: 0px;
}

.webpart-setting .action {
    width: 120px;
    float: left;
}

.webpart-setting .action .button {
    padding: 3px;
    margin: 7px 0 7px 5px;
    line-height: 2.3em;
    background: #3C86B6;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}

.webpart-setting .action .button:hover,
.webpart-setting .action .button-selected {
    background: #3C86B6;
}

.webpart-setting .content {
    width: 746px;
    height: 130px;
    float: left;
    overflow: hidden;
    position: relative;
}

.webpart-setting .previous,
.webpart-setting .next {
    width: 60px;
    height: 124px;
    cursor: pointer;
}

.webpart-setting .previous {
    float: left;
}

.webpart-setting .next {
    float: right;
}

.webpart-setting .previous .icon,
.webpart-setting .next .icon {
    width: 32px;
    height: 32px;
    margin: 46px auto 0;
    background: url("/App_Themes/Default/WebControls/Sprites/webpart-suiv-prec.png") no-repeat;
}

.webpart-setting .previous .icon {
    background-position: 0 0;
}

.webpart-setting .next .icon {
    background-position: -32px 0;
}

.webpart-setting .content .container {
    position: absolute !important;
    padding: 0;
    left: 0;
}

.webpart-setting .wp-lib-thumb,
.webpart-setting .RadDock {
    width: 114px !important;
    height: 114px !important;
    margin: 5px !important;
    border: 2px solid transparent;
    float: left;
    cursor: pointer;
    overflow: hidden;
    padding: 0 !important;
}

.webpart-setting .RadDock {
    background: #FAFAFA;
    border: 2px solid #E7E7E7;
    position: static !important;
}

.webpart-setting .wp-lib-thumb:hover,
.webpart-setting .RadDock:hover {
    border: 2px solid #3585b6;
}

.webpart-setting .RadDock .rdContent {
    overflow: hidden;
}

.webpart-setting .RadDock .rdCenter .WPItem {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    height: 98px;
    padding: 5px !important;
    word-wrap: break-word;
}

.webpart-setting .rdCenter span {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.EditMode .webpart-setting .RadDock {
    padding: 0 !important;
}

.WebPartGeneric {
    padding: 10px;
}

.WebPartGeneric-container {
    width: 100%;
    overflow: hidden;
}

.WebPartGeneric ul {
    padding: 0;
}

.WebPartGeneric ul li {
    list-style: none;
    margin-bottom: 10px;
}

.WebPartGeneric-body {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    border: 1px solid #CFCFCF;
    background-color: #FFFFFF;
    padding: 10px;
}

.WebPartGeneric-body.is-spotlight {
    background: #EDF2F7;
    padding: 5px;
}

.WebPartGeneric-image {
    margin-right: 10px;
}

.WebPartGeneric-title {
    font-size: 1.15em;
    margin-bottom: 15px;
    display: inline-block;
    color: #3C86B6;
}

.WebPartGeneric-complement {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
}

.SectionSeparator {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.SectionSeparator-separator {
    display: flex;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    height: 1px;
    background: #CFCFCF;
}

.SectionSeparator-text {
    padding: 15px 25px;
    color: #555555;
}

.TreeNode-icon {
    padding-right: 5px;
    color: #555555;
}

.TreeNode-title {
    white-space: normal;
    display: inline-block !important;
}

.TreeNode-title.is-dirty {
    font-weight: bold;
}

.rtSelected .TreeNode-icon {
    color: #FFFFFF;
}

.StudioResources-preview, .StudioResources-packageSize {
    font-weight: bold;
}

.StudioResources-preview {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.StudioResources ul, .StudioResources li {
    list-style-type: none;
}

.PurgeableResources-analysis {
    text-align: right;
}

.PurgeableResources-purge, .PurgeableResources-analysis {
    padding: 0 20px;
}

.ImageLinkCardList {
    height: 160px;
    overflow: hidden;
    position: relative;
}

.ImageLinkCardList-slideButtons {
    position: absolute;
    bottom: 0;
    right: 4em;
    z-index: 2;
}

.ImageLinkCardList-slideIcon {
    font-size: 2em;
    background: rgba(250, 250, 250, 0.8);
    transition: background 0.07s;
    color: #242424;
    margin: 0 0 0 -3px;
    padding: 0 2px;
}

.ImageLinkCardList-slideIcon:active {
    background: #fafafa;
}

.ImageLinkCard {
    width: 27%;
    min-width: 240px;
    display: inline-block;
    margin-right: 1em;
    background-position: center;
    background-size: cover !important;
    display: inline-block;
    height: 160px;
}

.ImageLinkCard:last-child {
    margin-right: 0;
}

.ImageLinkCard-link {
    text-decoration: none !important;
}

.ImageLinkCard-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFFFFF;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
    position: relative;
    top: 125px;
    display: block;
}

.ImageLinkCard-image {
    height: 160px;
    display: block;
    background: linear-gradient(to top, rgba(36, 36, 36, 0.7) 0%, rgba(36, 36, 36, 0) 66%, rgba(36, 36, 36, 0) 100%);
}

.ImageLinkCardList-items {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.StepButtonList {
    margin: 20px;
}

.StepButton {
    text-decoration: none !important;
    font-size: 1.2em;
    margin: 10px;
    color: #CFCFCF;
}

.StepButton.is-selected {
    color: #3C86B6;
}

.StepButton.is-passed {
    color: #CFCFCF;
}

.StepButton.is-passed:hover {
    color: #3C86B6;
}

@keyframes appearOnScreen {
    from {
        transform: translateX(-250px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes primary-color-transition {
    0% {
    }
    100% {
        background-color: #3C86B6;
    }
}

@keyframes clipath-animate {
    from {
        opacity: 0.2;
        clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%);
    }
    to {
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 70%);
    }
}

@keyframes content-in {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*********************************
********* switch display ********
**********************************/
.SwitchComponent {
    position: relative;
    float: left;
    width: 2em;
    cursor: pointer;
}

.SwitchComponent-rail {
    border-radius: .4em;
    height: .8em;
    width: 100%;
    background-color: #F0F0F0;
}

.SwitchComponent-rail.active {
    background-color: #3C86B6;
    opacity: .4;
}

.SwitchComponent-button {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    top: -2px;
    transition: all 0.3s cubic-bezier(0.15, 0.65, 0.44, 0.85);
    z-index: 1;
}

.SwitchComponent-button.is-on {
    animation: primary-color-transition 0.3s cubic-bezier(0.15, 0.65, 0.44, 0.85);
    background-color: #3C86B6;
    left: .8em;
}

.SwitchComponent-button.is-off {
    background-color: #CFCFCF;
    left: 0;
}

.TrainingPlan {
    position: relative;
    width: 99%;
}

.TrainingPlan .rtSelected .rtIn {
    border-color: #CFCFCF !important;
    color: #242424 !important;
    background-color: #CFCFCF !important;
}

.TrainingPlan div.rtIn {
    width: 100%;
}

.TraingPlan-icon {
    color: #555555;
    float: left;
}

div.status SPAN {
    background: url("/App_Themes/Default/WebControls/Sprites/status.png") no-repeat 0 0;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}

div.status .EnumerationField-icon {
    background: none;
    margin: -5px 5px 0 -5px;
}

/*line1*/
div.status SPAN.complete {
    background-position: 0 0;
}

div.status SPAN.completesuccess, div.status SPAN.completeSuccess {
    background-position: -16px 0;
}

div.status SPAN.completefail, div.status SPAN.completeFail {
    background-position: -32px 0;
}

div.status SPAN.incomplete {
    background-position: -48px 0;
}

div.status SPAN.incompletesuccess, div.status SPAN.incompleteSuccess {
    background-position: -64px 0;
}

div.status SPAN.incompletefail, div.status SPAN.incompleteFail {
    background-position: -80px 0;
}

/*line2*/
div.status SPAN.unknown {
    background-position: 0 -16px;
}

div.status SPAN.success {
    background-position: -16px -16px;
}

.popin {
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    padding: 10px;
    z-index: 1;
}

.ActivityBloc {
    padding: 0 !important;
    background: #FFFFFF;
}

.ActivityBloc .activity-info {
    width: 100%;
}

.ActivityBloc .any-activity-message {
    text-align: initial !important;
}

.ActivityBloc .activity-info span {
    display: block;
    text-align: center;
}

.ActivityBloc .activity-info .entities_52 span {
    padding: 0;
}

.ActivityBloc .activity-info .activity-content {
    padding: 15px;
    text-align: center;
}

.ActivityBloc .activity-info .activity {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.ActivityBloc .activity-info .parent-info {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.ActivityBloc .activity-info .activity-icon {
    background: #242424 !important;
    width: 70px;
}

.ActivityBloc .DescriptionPlayButton span.NewEducation {
    background: url("/App_Themes/Default/WebControls/Sprites/CustomBtn.png") no-repeat !important;
    background-position: -120px -144px !important;
    height: 24px !important;
    margin: 10px 4px 0 8px !important;
    width: 24px !important;
}

.ActivityBloc .DescriptionPlayButton input {
    min-width: 250px;
}

.ActivityBloc .activity-info .icon-dateValidity {
    float: right;
}

.ActivityBloc-icon {
    color: #FFF;
    font-size: 3em;
}

.ActivityBloc-icon.is-good {
    color: #FACA0F;
}

.ConversationParticipants {
    display: inline-block;
    margin-bottom: 20px;
}

.ConversationParticipants-item {
    display: inline-block;
}

.ConversationParticipants-item .conversation-participant-icon {
    visibility: hidden;
}

.ConversationParticipants-item:hover {
    cursor: pointer;
}

.ConversationParticipants-item:hover .conversation-participant-icon {
    visibility: visible;
}

.ActivityBloc {
    padding: 0 !important;
    background: #FFFFFF;
}

.ActivityBloc .activity-info {
    width: 100%;
}

.ActivityBloc .any-activity-message {
    text-align: initial !important;
}

.ActivityBloc .activity-info span {
    display: block;
    text-align: center;
}

.ActivityBloc .activity-info .entities_52 span {
    padding: 0;
}

.ActivityBloc .activity-info .activity-content {
    padding: 15px;
    text-align: center;
}

.ActivityBloc .activity-info .activity {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.ActivityBloc .activity-info .parent-info {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.ActivityBloc .activity-info .activity-icon {
    background: #242424 !important;
    width: 70px;
}

.ActivityBloc .DescriptionPlayButton span.NewEducation {
    background: url("/App_Themes/Default/WebControls/Sprites/CustomBtn.png") no-repeat !important;
    background-position: -120px -144px !important;
    height: 24px !important;
    margin: 10px 4px 0 8px !important;
    width: 24px !important;
}

.ActivityBloc .DescriptionPlayButton input {
    min-width: 250px;
}

.ActivityBloc .activity-info .icon-dateValidity {
    float: right;
}

.ActivityBloc-icon {
    color: #FFF;
    font-size: 3em;
}

.ActivityBloc-icon.is-good {
    color: #FACA0F;
}

.CheckBoxItem {
    margin: 5px;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
}

.CheckBoxItem.is-disabled .CheckBoxItem-label {
    color: #CFCFCF;
}

.CheckBoxItem-box {
    margin-left: 15px;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.CheckBoxItem-label {
    margin: 0 5px;
    font-size: 0.9em;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.CheckBoxList {
    background: #FAFAFA;
    margin: 20px 10px;
    padding: 0;
    border: 1px solid #CFCFCF;
    order: 1;
    z-index: 0;
}

.FontIconSelector {
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow: auto;
    flex-wrap: wrap;
    max-height: 250px;
    border-top: 1px solid #CFCFCF;
}

.FontIconSelector .FontIconSelector-icon {
    border: 1px solid #CFCFCF;
    padding: 0 10px;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: 0;
    line-height: 1;
}

.FontIconSelector .FontIconSelector-icon.is-hovered {
    background-color: #256F9D;
}

.FontIconSelector .FontIconSelector-icon.is-hovered .FontIconSelector-body {
    color: #FAFAFA;
}

.FontIconSelector .FontIconSelector-icon.is-selected {
    background-color: #3C86B6;
}

.FontIconSelector .FontIconSelector-icon.is-selected .FontIconSelector-body {
    color: #FAFAFA;
}

.CriteriaFormula-operator {
    margin-left: 16px;
}

.CriteriaFormula-bracket {
    color: #3C86B6;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: -16px;
}

.CriteriaFormula-value,
.CriteriaFormula-field,
.CriteriaFormula-comparator {
    margin-right: 3px;
}

.CriteriaFormula-value,
.CriteriaFormula-field {
    font-weight: bold;
}

.CriteriaFormula-value {
    color: #1FB15E;
}

.CriteriaFormula-criteria {
    font-size: 0.8em;
}

.CriteriaFormula-operatortype {
    color: #CB1D36;
    font-size: 1.1em;
}

.ColorPicker ._colorpicker__selected_panelReadOnly_, .ColorPicker ._colorpicker__selected_panel_ {
    margin-left: 4px;
    margin-bottom: 0px;
    width: 70px;
    height: 14px;
    border: solid 2px #CFCFCF;
    cursor: pointer;
}

.ColorPicker ._colorpicker__selected_panelReadOnly_ {
    border: solid 1px #CFCFCF;
    cursor: default;
}

.ColorPicker ._colorpicker__color_panel_ {
    margin: 3px;
    margin-top: 3px;
    margin-top: 0px;
    width: 70px;
    height: 24px;
    position: absolute;
    display: none;
}

.ColorPicker table {
    width: 70px;
}

.Slider {
    width: 100%;
    padding: 5px;
}

.Slider-thumb {
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: #3C86B6;
    top: -5px;
    right: -10px;
    border-radius: 10px;
    cursor: pointer;
}

.Slider-bar {
    height: 10px;
    border-radius: 5px;
    position: relative;
    background-color: #CFCFCF;
    width: 100%;
    margin: 8px 0 0 0;
    cursor: pointer;
}

.Slider-barFill {
    background-color: #3C86B6;
    position: absolute;
    height: 100%;
    border-radius: 5px;
}

.Slider-legendMin {
    float: left;
    color: #3C86B6;
    font-size: 0.9em;
}

.Slider-legendMiddle {
    color: #3C86B6;
    font-size: 0.9em;
    display: inline;
}

.Slider-legendMax {
    float: right;
    color: #3C86B6;
    font-size: 0.9em;
}

.is-readonly .Slider-barFill,
.is-readonly .Slider-thumb {
    cursor: default;
}

.is-readonly .Slider-bar {
    cursor: default;
    opacity: 0.3;
}

.Slider-visibilityHidden {
    visibility: hidden;
}

.RadAjax {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.RadAjax .raColor {
    background: #fff;
    z-index: 9;
}

.RadAjax .raTransp {
    opacity: 0.6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    filter: alpha(opacity=60);
    width: 100%;
    height: 100%;
}

.RadAjax .raDiv {
    background-image: none;
    z-index: 10;
}

.RadAjax-blob {
    width: 1.3rem;
    height: 1.3rem;
    background: #3C86B6;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 0.7rem);
    top: calc(50% - 0.7rem);
    animation-timing-function: ease-out;
}

.blob-0 {
    animation: animate-bounce 1s infinite;
    margin-left: -3rem;
}

.blob-1 {
    animation: animate-bounce 1s infinite;
    animation-delay: 0.16667s;
}

.blob-2 {
    animation: animate-bounce 1s infinite;
    margin-left: 3rem;
    animation-delay: 0.33333s;
}

@keyframes animate-bounce {
    0% {
        transform: translateY(0rem);
    }
    20% {
        transform: translateY(-1.3rem);
    }
    40% {
        transform: translateY(0rem);
    }
}

.RadWindow td.rwWindowContent.rwLoading,
.rwLoading {
    background-image: none !important;
}

#CssLoader {
    position: relative;
    top: 0;
}

.Message {
    width: 100%;
}

.Message .is-success {
    color: #1FB15E;
    border-left-color: #1FB15E;
}

.Message .is-failure {
    color: #CB1D36;
    border-left-color: #CB1D36;
}

.Message .is-warning {
    color: #F47B2A;
    border-left-color: #F47B2A;
}

.Message-item {
    line-height: 1.8em;
    padding: 10px;
}

.Message-icon {
    font-size: 1.8em;
    display: inline-block;
}

.OutOfCatalog {
    border: none;
}

.OutOfCatalog .request-out-of-catalog {
    background: url("/App_Themes/Default/WebControls/Button/ImageButton/background-hors-catalogue-blanc.png") repeat #3C86B6;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
    margin-top: 0;
    width: 100%;
}

.OutOfCatalog .out-of-catalog-hand {
    background: url("/App_Themes/Default/WebControls/Button/ImageButton/handle-out-catalogue.png") no-repeat left;
}

.OutOfCatalog .request-out-of-catalog a {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}

.OutOfCatalog .request-out-of-catalog .button-title {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.OutOfCatalog .request-out-of-catalog .top-title {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.OutOfCatalog .request-out-of-catalog .bottom-title {
    padding-top: 80px;
    padding-bottom: 10px;
    font-size: 1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.OutOfCatalog .badge-alert .visual {
    background: url("/App_Themes/Default/WebControls/Sprites/felicitations-pop-up.png") no-repeat;
    color: #ffffff;
    font-size: 1.5em;
    height: 460px;
    margin: auto;
    padding-top: 70px;
    width: 570px;
}

.OutOfCatalog .badge-alert .visual-training {
    background: url("/App_Themes/Default/WebControls/Sprites/felicitations-pop-up-training.png") no-repeat !important;
}

.OutOfCatalog .badge-alert .visual .title {
    color: #FFFFFF;
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    position: relative;
    top: 120px;
}

.OutOfCatalog .badge-alert .visual .text {
    color: #FFFFFF;
    display: block;
    height: 100px;
}

.PlanExperience {
    padding: 0;
    margin: 0;
}

.PlanExperience-item {
    padding: 0;
}

.PlanExperience-item.is-clickable {
    cursor: pointer;
}

.PlanExperience-item.is-subitem .ListItemCard-body {
    padding: 6px 10px;
}

.BadgeList {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.Badge-icon {
    font-size: 2.3em;
    color: #FACA0F;
}

.Badge-icon.is-empty {
    color: #FFF;
}

