﻿@media (min-width: 1601px) {
    .is-nav-hidden .l-masterNav {
        display: flex;
    }
    .l-masterHeader-toggleMenu {
        display: none;
    }
    .l-masterHeader-container {
       /* width: calc(100% - 250px); */
    }
}

@media screen and (min-width: 950px) and (max-width: 1600px) {
    .is-nav-hidden .l-masterNav {
        display: none;
    }
    .l-master .l-masterHeader .l-masterHeader-logo {
        padding-left: 0;
    }
}

@media screen and (min-width: 650px) and (max-width: 950px) {
    .is-nav-hidden .l-masterNav {
        display: none;
    }
    .l-master .l-masterHeader .l-masterHeader-logo {
        padding-left: 0;
    }
    .l-gridCol-colFixed {
        -ms-flex: 1 0 100%;
        -webkit-flex: 1 0 100%;
        flex: 1 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col2 {
        -ms-flex: 0 0 25%;
        -webkit-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .l-gridCol-col3 {
        -ms-flex: 0 0 33.33333%;
        -webkit-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .l-gridCol-col4 {
        -ms-flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-gridCol-col6 {
        -ms-flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-gridCol-col8 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col9 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col12 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-backgroundCover {
        height: 130px;
    }
    .l-backgroundCover + .l-masterBody-content {
        margin-top: -65px;
    }
}

@media screen and (max-width: 650px) {
    .is-nav-hidden .l-masterNav {
        display: none;
    }
    .l-master .l-masterHeader .l-masterHeader-logo {
        padding-left: 0;
    }
    .l-panel {
        margin: 5px 10px;
    }
    .l-panel.no-margin {
        margin: 0;
    }
    .l-noPanel {
        margin: 5px 0;
    }
    .l-gridCol-colFixed {
        -ms-flex: 1 0 100%;
        -webkit-flex: 1 0 100%;
        flex: 1 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col2 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col3 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col4 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col6 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col8 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col9 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-gridCol-col12 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-backgroundCover {
        height: 100px;
    }
    .l-backgroundCover + .l-masterBody-content {
        margin-top: -35px;
    }
}

@media screen and (min-width: 650px) and (max-width: 950px) {
    .PictoCard.is-big {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 650px) {
    .UserCardColumn-body {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        padding: 10px;
        text-align: left;
    }
    .UserCardColumn-container {
        margin-left: 10px;
        margin-top: 0;
        display: inline-block;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex: 1 1 0%;
        -webkit-flex: 1 1 0%;
        flex: 1 1 0%;
    }
    .UserCardColumn-content {
        -ms-flex: 1 1 0%;
        -webkit-flex: 1 1 0%;
        flex: 1 1 0%;
    }
    .UserCardColumn-complement {
        -ms-flex: initial initial initial;
        -webkit-flex: initial initial initial;
        flex: initial initial initial;
        width: 80px;
    }
    .UserImage {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 25px;
        background-size: cover !important;
        line-height: 50px;
        text-align: center;
        font-size: 1.5em;
        line-height: 50px;
    }
    .UserImage.is-size110 {
        width: 90px;
        height: 90px;
        min-width: 90px;
        min-height: 90px;
        border-radius: 45px;
        background-size: cover !important;
        line-height: 90px;
        text-align: center;
    }
    .HeaderSessionCard-container {
        display: inline-block;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .ListItemCard-body {
        align-items: flex-start;
    }
    .ListItemCard-container {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .ListItemCard-action-label {
        display: none;
    }
    .PictoCard.is-big {
        font-size: 1.5em;
    }
    .ResourceCard-body {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        min-height: 110px;
    }
    .ResourceCard-image {
        width: 110px;
        height: 110px;
    }
    .ResourceCard-origin {
        display: none;
    }
    .ResourceCard-iconContainer {
        bottom: 5px;
        right: 5px;
    }
    .ResourceCard-icon {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        border-radius: 20px;
        background-size: cover !important;
        line-height: 40px;
        text-align: center;
    }
    .ResourceCard-container {
        padding: 0 10px;
    }
    .ResourceCard-complement .PictoCard {
        font-size: 0.85em;
    }
    .ResourceCard-text {
        display: none;
    }
    .ResourceCard-actions {
        display: inline-block;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-pack: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .HeaderUserCard {
        text-align: center;
    }
    .HeaderUserCard-body {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 5px;
    }
    .HeaderUserCard-image {
        width: 90px;
        height: 90px;
        border-radius: 45px;
        margin: 10px auto;
    }
    .HeaderUserCard-container {
        display: inline-block;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
        margin-left: 0;
    }
    .HeaderUserCard-content {
        -ms-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .HeaderUserCard-action {
        margin: auto;
        -ms-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .HeaderUserCard-secondarytext {
        display: none;
    }
    .HeaderUserCard-Button {
        margin: auto;
    }
    .GridView-header {
        display: none;
    }
    .GridView-row {
        background: #F0F0F0;
    }
    .GridView-header .FieldHeader,
    .GridView-row .FieldData {
        display: block !important;
        padding: 5px;
        width: 100% !important;
        background: #FFFFFF;
        text-align: left;
    }
    .GridView-row td.is-header,
    .GridView-row td:nth-child(-n+2) {
        background: #F0F0F0;
        color: #555555;
        border-bottom: 0 none;
        display: inline-block !important;
        min-height: 30px;
        width: auto !important;
    }
    .GridView-row td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block !important;
        width: 160px;
    }
    .GridView-row td.is-header:before,
    .GridView-row td:nth-child(-n+2):before,
    .GridView tr td.header:before {
        width: 0;
        display: none !important;
    }
    .GridView tr.Pager td:before {
        display: none !important;
    }
    .GridView .RowSelectorField {
        width: auto;
    }
    .GridView div.enumeration16 SPAN {
        float: none;
    }
    .GridView div.enumeration16 {
        display: inline-block;
    }
    .GridView tr.Pager td {
        display: table-cell;
        float: none !important;
    }
    .ImageLinkCard {
        height: 120px;
    }
    .ImageLinkCard-image {
        height: 120px;
    }
    .ImageLinkCardList {
        height: 120px;
    }
    .ImageLinkCard-title {
        top: 80px;
    }
    .MyProfileImage-container {
        padding: 4px;
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        border-radius: 50px;
        background-size: cover !important;
        line-height: 100px;
        text-align: center;
        margin: -110px 0 0;
    }
}

@media (min-width: 1601px) {
    .Hotspot-marker {
        font-size: 30px;
        margin-left: -15px;
        margin-top: -15px;
    }
}

@media screen and (min-width: 950px) and (max-width: 1600px) {
    .Hotspot-marker {
        font-size: 30px;
        margin-left: -15px;
        margin-top: -15px;
    }
}

@media screen and (min-width: 650px) and (max-width: 950px) {
    .l-responsiveHidden {
        display: none;
    }
    .CatalogTheme-image {
        height: 130px;
    }
    .CatalogTheme-text {
        display: none;
    }
    .ResourcesCatalog .UserCardColumn-body {
        min-height: 280px;
    }
    .Hotspot-marker {
        font-size: 20px;
        margin-left: -10px;
        margin-top: -10px;
    }
}

@media screen and (max-width: 650px) {
    .LoginPage-body .LoginPage-mainForm .LoginPage-languageField,
    .LoginPage-divErrorLogin,
    .LoginPage-normalText,
    .LoginPage-inputField {
        width: 90% !important;
    }
    .LoginPage-normalText {
        margin: 0 5% 1em 5% !important;
    }
    .LoginPage-divErrorLogin {
        margin: 0 5% 0 5% !important;
    }
    .LoginPage-panel {
        margin: 0 !important;
    }
    .LoginPage-mainForm {
        max-width: 100% !important;
        min-height: 100vh;
        box-sizing: border-box;
    }
    .LoginPage-body .RadAjaxPanel {
        height: auto !important;
    }
    .l-responsiveHidden {
        display: none;
    }
    .CatalogTheme-image {
        height: 90px;
    }
    .CatalogTheme-title {
        margin-top: 0;
        padding-top: 0;
        font-size: 1.2em;
    }
    .CatalogTheme-complement {
        font-size: 1em;
    }
    .CatalogTheme-breadcrumb {
        padding: 5px;
    }
    .CatalogTheme-text {
        display: none;
    }
    .ResourceCard-body.is-opened {
        position: relative;
    }
    .Hotspot-marker {
        font-size: 20px;
        margin-left: -10px;
        margin-top: -10px;
    }
}

